Source: python-django-seed
Build-Depends: coreutils, debhelper, git
Section: extra
Priority: optional
Maintainer: Igor Shishkin <ishishkin@mirantis.com>

Package: python-django-seed
Section: extra
Priority: optional
Architecture: any
Depends: python-django (>= 1.5), uwsgi, uwsgi-plugin-python, python-transmissionrpc, nginx, nginx-full, nginx-common
Description: Meta package to setup devops environment
 .

